.top-bar {
  background-color: #212121;
  color: #FFF;
  height: 24px;
  width: 100%;
  top: 0;
}
.top-bar .icon {
  height: 100%;
  font-size: 17px;
  margin-top: 1.5px;
  margin-left: 1.5px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.logo-text {
  font-family: "MavenPro", "monospace";
  font-size: 84px;
  text-align: center;
  color: #FFF;
  margin-top: -100px;
  text-shadow: -5px -5px 0 #222, -5px -4px 0 #222, -5px -3px 0 #222, -5px -2px 0 #222, -5px -1px 0 #222, -5px 0px 0 #222, -5px 1px 0 #222, -5px 2px 0 #222, -5px 3px 0 #222, -5px 4px 0 #222, -5px 5px 0 #222, -4px -5px 0 #222, -4px -4px 0 #222, -4px -3px 0 #222, -4px -2px 0 #222, -4px -1px 0 #222, -4px 0px 0 #222, -4px 1px 0 #222, -4px 2px 0 #222, -4px 3px 0 #222, -4px 4px 0 #222, -4px 5px 0 #222, -3px -5px 0 #222, -3px -4px 0 #222, -3px -3px 0 #222, -3px -2px 0 #222, -3px -1px 0 #222, -3px 0px 0 #222, -3px 1px 0 #222, -3px 2px 0 #222, -3px 3px 0 #222, -3px 4px 0 #222, -3px 5px 0 #222, -2px -5px 0 #222, -2px -4px 0 #222, -2px -3px 0 #222, -2px -2px 0 #222, -2px -1px 0 #222, -2px 0px 0 #222, -2px 1px 0 #222, -2px 2px 0 #222, -2px 3px 0 #222, -2px 4px 0 #222, -2px 5px 0 #222, -1px -5px 0 #222, -1px -4px 0 #222, -1px -3px 0 #222, -1px -2px 0 #222, -1px -1px 0 #222, -1px 0px 0 #222, -1px 1px 0 #222, -1px 2px 0 #222, -1px 3px 0 #222, -1px 4px 0 #222, -1px 5px 0 #222, 0px -5px 0 #222, 0px -4px 0 #222, 0px -3px 0 #222, 0px -2px 0 #222, 0px -1px 0 #222, 0px 0px 0 #222, 0px 1px 0 #222, 0px 2px 0 #222, 0px 3px 0 #222, 0px 4px 0 #222, 0px 5px 0 #222, 1px -5px 0 #222, 1px -4px 0 #222, 1px -3px 0 #222, 1px -2px 0 #222, 1px -1px 0 #222, 1px 0px 0 #222, 1px 1px 0 #222, 1px 2px 0 #222, 1px 3px 0 #222, 1px 4px 0 #222, 1px 5px 0 #222, 2px -5px 0 #222, 2px -4px 0 #222, 2px -3px 0 #222, 2px -2px 0 #222, 2px -1px 0 #222, 2px 0px 0 #222, 2px 1px 0 #222, 2px 2px 0 #222, 2px 3px 0 #222, 2px 4px 0 #222, 2px 5px 0 #222, 3px -5px 0 #222, 3px -4px 0 #222, 3px -3px 0 #222, 3px -2px 0 #222, 3px -1px 0 #222, 3px 0px 0 #222, 3px 1px 0 #222, 3px 2px 0 #222, 3px 3px 0 #222, 3px 4px 0 #222, 3px 5px 0 #222, 4px -5px 0 #222, 4px -4px 0 #222, 4px -3px 0 #222, 4px -2px 0 #222, 4px -1px 0 #222, 4px 0px 0 #222, 4px 1px 0 #222, 4px 2px 0 #222, 4px 3px 0 #222, 4px 4px 0 #222, 4px 5px 0 #222, 5px -5px 0 #222, 5px -4px 0 #222, 5px -3px 0 #222, 5px -2px 0 #222, 5px -1px 0 #222, 5px 0px 0 #222, 5px 1px 0 #222, 5px 2px 0 #222, 5px 3px 0 #222, 5px 4px 0 #222, 5px 5px 0 #222;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 384px;
}

.login-field {
  width: 100%;
  margin-bottom: 3.5px;
}

.login-button {
  width: 100%;
}

.loader-progress {
  margin-bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  bottom: 0;
}

@font-face {
  font-family: "MavenPro";
  src: url("../font/MavenPro-Black.ttf");
}

/*# sourceMappingURL=kuki.css.map */
